<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulador FUAS - DuocUC Plaza Norte</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/frontend/static/css/styles.css" />
    <link rel="shortcut icon" href="/src/frontend/static/assets/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#home">
                <img src="/src/frontend/static/assets/img/logo-duoc.svg" alt="Logo" width="150" height="40"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">¿Cómo postular?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#steps">Etapas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#benefits">Beneficios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Más Información</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Home Section -->
    <section class="home" id="home">
        <div class="home-container">
            <div class="column-left">
                <h1>Simulador FUAS</h1>
                <p>
                    Proyecto educativo para enseñar a los estudiantes
                    a completar correctamente el Formulario Único
                    de Acreditación Socioeconómica (FUAS).
                </p>
                <a href="" target="_blank">
                    <button>Empezar Simulador FUAS</button>
                </a>
            </div>
            <div class="column-right">
                <img src="/src/frontend/static/assets/img/image-1.svg" alt="Illustration" class="hero-image" />
            </div>
        </div>
    </section>

    <!-- Steps Section -->
    <section class="steps">
        <div class="title-section" id="steps">
            Conoce Las Etapas Del Proceso FUAS
        </div>
        <div class="steps-section">
            <div class="step">
                <strong>1. Postulación primer periodo</strong> <span>(finalizada)</span>: completa el FUAS para iniciar
                el proceso.
            </div>
            <div class="step">
                <strong>2. Información sobre nivel socioeconómico</strong> <span>(17 de diciembre 2024)</span>: sabrás a
                qué beneficios podrías optar según tu información socioeconómica.
            </div>
            <div class="step">
                <strong>3. Preselección</strong> <span>(16 de enero 2025)</span>: sabrás si cumples con requisitos
                académicos y socioeconómicos para acceder beneficios.
            </div>
            <div class="step">
                <strong>4. Matrícula y evaluación socioeconómica</strong>: matrículate en una institución de educación
                superior y haz la evaluación socioeconómica si se te solicitó en las etapas anteriores.
            </div>
            <div class="step">
                <strong>5. Asignación</strong> <span>(11 de marzo 2025)</span>: sabrás si se te asignó algún beneficio
                estudiantil.
            </div>
            <div class="step">
                <strong>6. Apelación</strong> <span>(del 11 al 26 de marzo 2025)</span>: puedes apelar a tus resultados
                si cumples con los requisitos de alguna causal.
            </div>
        </div>
    </section>

    <!-- Benefits Section -->
    <section class="benefits">
        <div class="title-section-benefit" id="benefits">
            FUAS - Formulario Único De Acreditación Socioeconómica
        </div>
        <div class="benefits-grid">
            <a href="https://portal.beneficiosestudiantiles.cl/gratuidad" target="_blank">
                <div class="benefit-item">Gratuidad</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/nuevo-milenio" target="_blank">
                <div class="benefit-item">Beca Nuevo Milenio (BNM)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/bicentenario" target="_blank">
                <div class="benefit-item">Beca Bicentenario (BB)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/juan-gomez-millas" target="_blank">
                <div class="benefit-item">Beca Juan Gómez Millas (BJGM)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/juan-gomez-millas-extranjeros" target="_blank">
                <div class="benefit-item">Beca Juan Gómez Millas Personas Extranjeras</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/excelencia-tecnica" target="_blank">
                <div class="benefit-item">Beca Excelencia Técnica (BET)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/excelencia-academica" target="_blank">
                <div class="benefit-item">Beca Excelencia Académica (BEA)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/distincion-trayectorias" target="_blank">
                <div class="benefit-item">Beca Distinción a las Trayectorias Educativas (DTE)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/hijas-hijos-profesionales" target="_blank">
                <div class="benefit-item">Beca para Hijas e Hijos de Profesionales de la Educación (BHP)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/articulacion" target="_blank">
                <div class="benefit-item">Beca de Articulación (BAR)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/discapacidad" target="_blank">
                <div class="benefit-item">Beca para Estudiantes en Situación de Discapacidad</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/continuidad-estudios" target="_blank">
                <div class="benefit-item">Beca Continuidad de Estudios para Instituciones en Cierre</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/alimentacion" target="_blank">
                <div class="benefit-item">Beca de Alimentación para la Educación Superior (BAES)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/solidario" target="_blank">
                <div class="benefit-item">Fondo Solidario de Crédito Universitario (FSCU)</div>
            </a>
            <a href="https://portal.beneficiosestudiantiles.cl/cae" target="_blank">
                <div class="benefit-item">Crédito con Garantía Estatal (CAE)</div>
            </a>
        </div>

    </section>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>